.how_padding {
  padding-top: 16rem;
  padding-bottom: 0;
}
.heygen_container {
  width: 100%;
  max-width: 77.5rem;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 0.375fr 1fr 0.375fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.div-block-273 {
  grid-column-gap: 80px;
  grid-row-gap: 88px;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 110px;
  display: grid;
}
#w-node-_9ddfc2ad-d786-57b7-abfc-64f9a18d17c3-8c4e74c2 {
  align-self: end;
}
.heygen_section_heading.is-black {
  z-index: 2;
  color: var(--heygen--dark);
  position: relative;
}
.heygen_section_heading {
  max-width: 742px;
  color: var(--neutral-10);
  letter-spacing: -5.2px;
  font-size: 128px;
  font-weight: 500;
  line-height: 1;
}
h2 {
  color: var(--neutral-100);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
}
h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: 700;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
user agent stylesheet h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.how_video {
  width: 734px;
  border-radius: 25.5px;
  position: relative;
  right: auto;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07), 0 11px 10px rgba(0, 0, 0, 0.1),
    0 20px 18px rgba(0, 0, 0, 0.13), 0 36px 32px rgba(0, 0, 0, 0.15),
    0 68px 60px rgba(0, 0, 0, 0.18), 0 160px 140px rgba(0, 0, 0, 0.25);
}
#PlayBackRatePanelYPSC {
  color: rgb(207, 207, 207);
  font-size: 14px;
  z-index: 999999;
  position: absolute;
  transform: translate(-50%, 0%);
}
injected stylesheet .PlayBackRatePanelYPSC {
  right: 2px;
  top: 2px;
  display: inline;
  width: 120px;
  height: 24px;
}
#SpeedUpYPSC {
  float: right;
  width: 24px;
  height: 100%;
  line-height: 20px;
}
injected stylesheet .btnYPSC-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
injected stylesheet .btnYPSC {
  font-size: 12px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  text-decoration: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
button,
[type="button"],
[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
  border: 0;
}
#PlayBackRateYPSC {
  float: right;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  text-align: center;
  width: 40px;
  height: 100%;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: thin solid rgba(255, 255, 255, 0.5);
  border-top: thin solid rgba(255, 255, 255, 0.5);
  padding: 0px;
}
injected stylesheet .btnYPSC {
  font-size: 12px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  text-decoration: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
#SpeedDownYPSC {
  float: right;
  width: 24px;
  height: 100%;
  line-height: 20px;
}
injected stylesheet .btnYPSC-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
injected stylesheet .btnYPSC {
  font-size: 12px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  text-decoration: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
#SettingYPSC {
  float: right;
  vertical-align: middle;
  text-align: center;
  width: 24px;
  height: 100%;
  line-height: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAArUlEQVQ4jWNgoCHIAeJVUJxLjgGngPg/FJ8iRoMCEHcCsToQuwPxFyQDQGwPqFwnVC0GWIukgRBei67ZAYuiv0B8BIr/YZF3QDZAA4hvo2n2QZL3QzPkNlQPChAA4t9QBUewePEoVO43VC0GoMgAdC/8gzobBvwJecGBATOQ/kFtPcpARCCCAEXRCAIKQNzGgDshuUPl2hhwJCR0gJyUTxKjAR0gZ6YccgwgCgAA4EFipVbnt1AAAAAASUVORK5CYII=)
      center center no-repeat,
    rgba(255, 255, 255, 0.5);
  border-width: thin;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-image: initial;
  padding: 0px;
}
injected stylesheet .btnYPSC {
  font-size: 12px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  text-decoration: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}
.muted-video {
  aspect-ratio: 16/9;
  transform: scale(1.01);
  height: auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
  display: flex;
  position: relative;
}
audio,
canvas,
progress,
video {
  vertical-align: baseline;
  display: inline-block;
}
.video-preview {
  aspect-ratio: 16/9;
  height: auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.video-preview {
  display: none;
}
img {
  max-width: 100%;
  display: inline-block;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
img {
  border: 0;
}
.video_purple_blur {
  width: 70%;
  height: 90%;
  background-color: var(--heygen--primary);
  opacity: 0.5;
  filter: blur(54px);
  border-radius: 100%;
  position: absolute;
  top: -36%;
  bottom: auto;
  left: -45%;
  right: auto;
}
.video_btn_wrap {
  z-index: 5;
  margin-top: 24px;
  margin-left: 24px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}
.video_btn {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--neutral-10);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  align-items: center;
  padding: 15px 18px;
  font-weight: 500;
  transition: all 0.2s;
  display: flex;
}
.btn_play_icon {
  width: 1rem;
  height: 1rem;
}
.image-82 {
  height: 32px;
}
.btn_right_arrow_icon {
  width: 1rem;
  height: 1rem;
}
.heygen_para {
  z-index: 2;
  color: var(--heygen--dark-purple);
  font-size: 24px;
}
p {
  color: rgba(32, 41, 65, 0.5);
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.how_cards {
  max-width: 77.5rem;
  grid-column-gap: 26px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
}
.how_card {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  background-color: #fff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  flex-direction: column;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding: 40px;
  display: grid;
  overflow: hidden;
}
#w-node-_7cd5bfe7-c9d5-d905-ae95-982e866b0046-8c4e74c2,
#w-node-b02be2ee-7fa1-2174-402e-55adf03ec90a-8c4e74c2,
#w-node-_5ba5d9f0-f139-a3f8-b24a-ca4c91a4b1c0-8c4e74c2,
#w-node-_344ad384-c340-d081-f420-e3b8b914cae5-8c4e74c2,
#w-node-b44b867b-373b-0eae-d602-44a3c7fe0bef-8c4e74c2,
#w-node-cc7b7c79-0813-bd24-37cd-1c6f7683ec6b-8c4e74c2,
#w-node-_69b350e4-6a61-659b-14a3-ed02adf03629-8c4e74c2,
#w-node-c124413a-d710-820b-c454-3cfd1010d0c4-8c4e74c2,
#w-node-_33c8d3d5-23e6-abdc-e2a4-06f312009747-8c4e74c2,
#w-node-_33c8d3d5-23e6-abdc-e2a4-06f312009748-8c4e74c2,
#w-node-_33c8d3d5-23e6-abdc-e2a4-06f31200974f-8c4e74c2,
#w-node-_308966cd-076e-95bb-ba41-8ea73468f53e-8c4e74c2,
#voice-slider.w-node-e69c063c-7c9d-5e98-a231-9ba72e2b5b53-8c4e74c2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
.how_card_num {
  max-width: 742px;
  color: var(--heygen--primary);
  letter-spacing: -5.2px;
  margin-bottom: 16px;
  font-size: 128px;
  font-weight: 500;
  line-height: 1;
}
.how_card_head {
  color: var(--heygen--dark);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1;
}
.how_card_para {
  opacity: 0.7;
  color: #232833;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.3;
}
.how_card.padding-0 {
  grid-template-columns: auto;
  justify-content: space-between;
  padding: 0;
  display: flex;
}
.how_card {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  background-color: #fff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  flex-direction: column;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding: 40px;
  display: grid;
  overflow: hidden;
}
.div-block-277 {
  padding: 40px 40px 0;
}
.div-block-276 {
  margin-bottom: 120px;
  display: flex;
  position: relative;
}
.voice-scrolling-img {
  will-change: transform;
  animation: voice-horizontal 150s linear infinite;
}
.voice-scrolling-img {
  flex: none;
}
.div-block-278 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 40px;
  display: grid;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.image-84 {
  border-radius: 56px;
  overflow: hidden;
}
.shadows_3 {
  box-shadow: 0 2px 4.53px rgba(117, 89, 255, 0.07),
    0 7px 12.52px rgba(117, 89, 255, 0.1),
    0 16px 30.15px rgba(117, 89, 255, 0.13),
    0 52px 100px rgba(117, 89, 255, 0.2);
}
.div-block-277 {
  padding: 40px 40px 0;
}
.how_3_scrolling_wrap {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  display: flex;
}
.how_3_scrolling_row_wrap {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  display: flex;
}
.how_3_scrolling_row {
  will-change: transform;
  animation: how3-horizontal 250s linear infinite;
}
.how_3_scrolling_row {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex: none;
  display: flex;
}
.how_3_scrolling_img {
  height: 75px;
  max-width: none;
  flex: none;
}
.how_3_scrolling_row.row2 {
  will-change: transform;
  animation: how3-2-horizontal 250s linear infinite;
}
.how_3_scrolling_row.row2 {
  justify-content: flex-end;
}
.how_3_scrolling_row {
  will-change: transform;
  animation: how3-horizontal 250s linear infinite;
}
.how_3_scrolling_row {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex: none;
  display: flex;
}
.how_3_scrolling_img {
  height: 75px;
  max-width: none;
  flex: none;
}
