.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --neutral-80: #818999;
  --neutral-100: #232833;
  --medium-slate-blue: #7559ff;
  --neutral-50: #d0d4d9;
  --primary-70: #3534af;
  --color003: rgba(95, 104, 128, 0.08);
  --error-dark: #a8071a;
  --main-color: #7559ff;
  --white: white;
  --primary-60: #4341d1;
  --primary-50: #6362dc;
  --primary-10: #efeffd;
  --neutral-30: #edf0f3;
  --neutral-40: #e0e3e6;
  --neutral-20: #f9fafb;
  --primary-80: #28278b;
  --neutral-70: #838d95;
  --primary-20: #cacaf6;
  --neutral-10: white;
  --neutral-60: #aaafb6;
  --neutral-90: #232833;
  --primary-30: #a7a6ee;
  --primary-40: #8583e6;
  --primary-90: #1c1b67;
  --primary-100: #111142;
  --secondary-60: #ffc6c6;
  --success-light: #d9f7be;
  --success-dark: #237804;
  --error-light: #ffccc7;
  --slate-blue: #6b55ea;
  --midnight-blue: #282e48;
  --midnight-blue-2: rgba(40, 46, 72, 0.05);
  --color001: rgba(95, 104, 128, 0.03);
  --color002: #f8f8f8;
  --heygen002: #7559ff;
  --heygen001: #7559ff;
  --secondary-70: #d4380d;
  --secondary-80: #ad2102;
  --midnight-blue-3: #1d243d;
  --dark-slate-grey: #3e4049;
  --heygen--primary: #7559ff;
  --blue-violet: #8531f3;
  --cornflower-blue: #577ffa;
  --shadows: rgba(0, 0, 0, 0.12);
  --heygen--body-color: #e6e0f4;
  --dropdown-hover-bg: rgba(12, 6, 44, 0.05);
  --heygen--dark-purple: #0c062c;
  --heygen--neutral-02: #4e5666;
  --heygen--body: #e6e0f4;
  --heygen--dark: #0c062c;
  --heygen--light-purple: #bbadff;
  --heygen--dark-purple-text: #0c062c;
  --heygen--dark-purple-2: #341da6;
  --secondary-10: #fff2e8;
  --secondary-20: #ffd8bf;
  --secondary-30: #ffbb96;
  --secondary-40: #ff9c6e;
  --secondary-50: #ff7a45;
  --secondary-90: #871400;
  --secondary-100: #610b00;
  --dark-slate-blue: #32384b;
  --light-sky-blue: #76c5fa;
  --case-bg: #292e46;
  --deep-sky-blue: #2fccf7;
  --translate-hero-video-width: 320px;
}
